*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(0, 170, 255);
    width: 100%;
    
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    border-radius: 10px;
   
    background-color: white;
    width: 350px;
height: 500px;
}
img{
padding: 20px 20px;

}
h1{

    padding: 20px;
text-align: center;
}
img{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border: none;
    width: 100px;
background-color: greenyellow;
border-radius: 10px;
height: 50px;
margin: 20px 125px;
cursor: pointer;

}
